#map {
  height: 60vh;
  width: 50vw;
  border: 2px solid lightgray;
  display: flex;
  margin: auto;
}
input {
  height: 5vh;
  width: 70vw;
  text-align: center;
  font-size: 20px;
  margin: auto;
  display: flex;
  font-family: "Graduate", cursive;
}
h1 {
  text-align: center;
  font-family: "Graduate", cursive;
}
body {
  background-image: url("/GA_basketball_app/vancouver-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  text-align: end;
  color: darkorange;
  font-size: 12px;
}
.in {
  font-family: "Graduate", cursive;
  font-size: 26px;
  cursor: grab;
  margin-right: 40px;
}
.out {
  font-family: "Graduate", cursive;
  font-size: 26px;
  cursor: grab;
  margin-left: 40px;
}
.buttons {
  text-align: center;
  margin-top: 20px;
}
